.btn {
  background-color: #000;
  border: 0;
  border-radius: 2rem;
  color: white;
  font-size: 16px;
  padding: 0.75em 1.25em;
  margin-top: 2.25rem;
  transition: 0.5s;
}

.btn:hover {
  cursor: pointer;
  margin-left: 1rem;
}
